
<section id="greeting">
  <h1>
    <% if (config.description) { %>
      <%- markdown(config.description) %>
    <% } %>
  </h1>

  <a href="<%- url_for(theme.articles) %>"><button>Read my articles</button></a>
<section>

<% if (site.data.projects) { %>
<section id="projects">
  <span class="h1"><a href="<%- url_for(theme.projects_url) %>">Projects</a></span>
  <ul class="project-list">
    <% for(var obj in site.data.projects){ %>
      <li class="project-item">
        <a href="<%= site.data.projects[obj].url %>"><%= site.data.projects[obj].name %></a>: <%= site.data.projects[obj].desc %>
      </li>
    <% } %>
  </ul>
</section>
<% } %>
